<div>
    <div class="row">
        <h7><b>Trayecto 1</b></h7>
        <div class="col-md-4">
            <label>Medio de transporte:</label>
            <select id="medio-transporte-5" class="form-select">
                <option selected>Caminando</option>
                <option>Bus</option>
                <option>Metro</option>
                <option>Taxi</option>
            </select>
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de partida:</label>
            <input id="punto-partida-5" type="text" class="form-control" placeholder="Escriba el punto de partida...">
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de destino:</label>
            <input id="punto-regreso-5" type="text" class="form-control" placeholder="Escriba el punto de destino...">
            <br>
        </div>
        <div class="col-md-12">
            <strong><span id="informacion-ruta5"></span></strong>
        </div>
        <div class="col-md-12">
            <div id="map5" style="height: 500px; width: 100%;"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <h7><b>Trayecto 2</b></h7>
        <div class="col-md-4">
            <label>Medio de transporte:</label>
            <select id="medio-transporte-6" class="form-select">
                <option selected>Caminando</option>
                <option>Bus</option>
                <option>Metro</option>
                <option>Taxi</option>
            </select>
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de partida:</label>
            <input id="punto-partida-6" type="text" class="form-control" placeholder="Escriba el punto de partida...">
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de regreso:</label>
            <input id="punto-regreso-6" type="text" class="form-control" placeholder="Escriba el punto de destino...">
            <br>
        </div>
        <div class="col-md-12">
            <strong><span id="informacion-ruta6"></span></strong>
        </div>
        <div class="col-md-12">
            <div id="map6" style="height: 500px; width: 100%;"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <h7><b>Trayecto 3</b></h7>
        <div class="col-md-4">
            <label>Medio de transporte:</label>
            <select id="medio-transporte-7" class="form-select">
                <option selected>Caminando</option>
                <option>Bus</option>
                <option>Metro</option>
                <option>Taxi</option>
            </select>
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de partida:</label>
            <input id="punto-partida-7" type="text" class="form-control" placeholder="Escriba el punto de partida...">
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de regreso:</label>
            <input id="punto-regreso-7" type="text" class="form-control" placeholder="Escriba el punto de destino...">
            <br>
        </div>
        <div class="col-md-12">
            <strong><span id="informacion-ruta7"></span></strong>
        </div>
        <div class="col-md-12">
            <div id="map7" style="height: 500px; width: 100%;"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <label>Costo semanal del sistema de transporte:</label>
            <input type="text" id="costosemanalregreso" class="form-control" placeholder="Escriba el costo semanal..."/>
        </div>
    </div>
</div>











