<div>
    <div class="row">
        <h7><b>Trayecto 1</b></h7>
        <div class="col-md-4">
            <label>Medio de transporte:</label>
            <select id="medio-transporte-1" class="form-select"></select>
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de partida:</label>
            <input id="punto-partida-2" type="text" class="form-control" placeholder="Escriba el punto de partida...">
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de destino:</label>
            <input id="punto-regreso-2" type="text" class="form-control" placeholder="Escriba el punto de destino...">
            <br>
        </div>
        <div class="col-md-12">
            <strong><span id="informacion-ruta2"></span></strong>
        </div>
        <div class="col-md-12">
            <div id="map2" style="height: 500px; width: 100%;"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <h7><b>Trayecto 2</b></h7>
        <div class="col-md-4">
            <label>Medio de transporte:</label>
            <select id="medio-transporte-2" class="form-select"></select>
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de partida:</label>
            <input id="punto-partida-3" type="text" class="form-control" placeholder="Escriba el punto de partida...">
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de destino:</label>
            <input id="punto-regreso-3" type="text" class="form-control" placeholder="Escriba el punto de destino...">
            <br>
        </div>
        <div class="col-md-12">
            <strong><span id="informacion-ruta3"></span></strong>
        </div>
        <div class="col-md-12">
            <div id="map3" style="height: 500px; width: 100%;"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <h7><b>Trayecto 3</b></h7>
        <div class="col-md-4">
            <label>Medio de transporte:</label>
            <select id="medio-transporte-4" class="form-select"></select>
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de partida:</label>
            <input id="punto-partida-4" type="text" class="form-control" placeholder="Escriba el punto de partida...">
        </div>
        <br>
        <div class="col-md-4">
            <label>Punto de destino:</label>
            <input id="punto-regreso-4" type="text" class="form-control" placeholder="Escriba el punto de destino...">
            <br>
        </div>
        <div class="col-md-12">
            <strong><span id="informacion-ruta4"></span></strong>
        </div>
        <div class="col-md-12">
            <div id="map4" style="height: 500px; width: 100%;"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <label>Costo semanal del sistema de transporte:</label>
            <input type="text" id="costosemanalida" class="form-control" placeholder="Escriba el costo semanal..."/>
        </div> 
    </div>
</div>





