@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<center><h2 class="text-danger">Ocurrió un error durante la solicitud requerida.</h2></center>
<h5>Mensaje de error:</h5><p>@ViewBag.ErrorMessage</p>

